<div class="container-fluid main-container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6 content">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>NgxBootstrapSwitch Demo</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <ngx-switch [status]="value" 
                            [onText]="onText" 
                            [offText]="offText" 
                            [onColor]="onColor"
                            [offColor]="offColor" 
                            [size]="size" 
                            [disabled]="disabled" 
                            (statusChange)="onSwitchChange($event)">
                </ngx-switch>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" [(ngModel)]="disabled" id="checkDisabled">
                <label class="form-check-label" for='checkDisabled'>Disabled</label>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-xs-6">
                <div class="form-group">
                    <label>On Text</label>
                    <input class="form-control" type="text" [(ngModel)]="onText">
                </div>
                <div class="form-group">
                    <label>On Color</label>
                    <div class="input-group">
                      <div class="input-group-addon selected-color bg-{{ onColor }}"></div>
                      <select class="form-control" [(ngModel)]="onColor">
                        <option *ngFor="let color of colors" [ngValue]="color">{{ color }}</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label>Size</label>
                    <select class="form-control" [(ngModel)]="size">
                      <option *ngFor="let size of sizes" [ngValue]="size">{{ size }}</option>
                    </select>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                    <label>Off Text</label>
                    <input class="form-control" type="text" [(ngModel)]="offText">
                </div>
                <div class="form-group">
                    <label>Off Color</label>
                    <div class="input-group">
                      <div class="input-group-addon selected-color bg-{{ offColor }}"></div>
                      <select class="form-control" [(ngModel)]="offColor">
                        <option *ngFor="let color of colors" [ngValue]="color">{{ color }}</option>
                      </select>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>